.about{
    background-color: var(--color-MirageBlue);
    margin-top: 75.57px;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__info{
        padding-top: 60px;
        padding-bottom: 100px;
    }

    &__heading{
        color: var(--color-LinkWaterWhite);
        font-family: "DM Serif Display";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; 
        letter-spacing: -0.369px;
        max-width: 445px;
    }

    &__text{
        color: var(--color-LinkWaterWhite);
        font-family:" Public Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
        max-width: 445px;
        opacity: 0.5;
        padding: 0;
        margin: 0;
        padding-bottom: 32px;
    }

    &__button{
        border-radius: 24px;
        border: 1px solid var(--color-LinkWaterWhite);
        padding: 15px 32px;
        background-color: var(--color-MirageBlue);
        cursor: pointer;
        color: var(--color-LinkWaterWhite);
        text-align: center;
        font-family: "Public Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 62px;
    }
}

@media only screen and (max-width:960px) {
    .about{
        .container{
            display: flex;
            flex-direction: column;
        }
    }

    .about__info{
        position: relative;
        margin-top: 300px; 
    }       

    .about__list{
        position: absolute;
        margin-top: -400px;
    }

    .about__button{
        margin-left: 150px;
    }
}

@media only screen and (max-width:437px){
    .about__list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 56px;
    }

    .about__heading{
        max-width: 327px;
        font-size: 32px;
    }

    .about__text{
        max-width: 327px;
        font-size: 15px;
    }

    .about__button{
        margin-left: 65px;
    }
} 





    