.light{
    margin-top: 146px;

    &__list{
        display: flex;
        text-align: center;
        justify-content: space-between;
      
    }

    &__heading{
        max-width: 350px;
        color: var(--color-SanJuanBlue);
        text-align: center;
        font-family: "Public Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; 
        letter-spacing: -0.138px;
        
        
    }

    &__text{
        max-width: 350px;
        color: var(--color-LightSanJuanBlue);
        text-align: center;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        letter-spacing: -0.115px;
   
    }

}

@media only screen and (max-width:600px){
    .light{
        .container{
            display: flex;
            flex-direction: column;
        }
    }
} 